[submodule "lte"]
	path = lte
	url = https://github.com/pkarimib/lte
[submodule "SwinIR"]
	path = SwinIR
	url = git@github.com:pkarimib/SwinIR.git
[submodule "gemino_model"]
	path = gemino_model
	url = git@github.com:geminovc/model.git
